$color01: rgb(41, 32, 212);
$color02: rgb(56, 47, 217);
$color03: rgb(87, 81, 210);
$color04: rgb(116, 111, 210);
$color05: rgb(151, 148, 211);
.container {
    display: flex;
    flex-direction: column;

    margin: auto;
    max-width: 650px;
    min-width: 650px;
    height: 1200px;
    background-color: rgb(224, 184, 160);
    text-align: center;
    align-items: center;
    justify-content: center;

    hr {
       
       width: 645px;
    }


    .colorBox {
        display: flex;
        justify-content: baseline;
        align-items: end;
        width: 500px;
        height: 345px;
        background-color: bisque;
        border: 8px solid #9e9e9e;
        border-radius: 12px;

        .box {
            width: 100px;
            background-color: $color01;
        }
        .box1 {
            width: 100px;
            background-color: $color02;
        }
        .box2 {
            width: 100px;
            background-color: $color03;
        }
        .box3  {
            width: 100px;
            background-color: $color04;
        }
        .box4 {
            width: 100px;
            background-color: $color05;
        }

        .boxBat {
            height: 20px;
            padding: 4px;
            border: solid 1px green;
            border-radius: 5px;
            background-color: rgb(255, 210, 125);
            cursor: pointer;

            &:hover {
                background-color: rgb(235, 171, 108);
            }

        }
        .title {
            height: 22px;
            padding: 4px;
            background-color: rgb(208, 240, 230);
            color: rgb(25, 25, 73);
        }
    }

    .boxBatAll {
        height: 24px;
        padding: 4px 30px;
        border: solid 2px green;
        border-radius: 7px;
        background-color: rgb(255, 210, 125);
        margin: 10px;
        cursor: pointer;

        &:hover {
            background-color: rgb(235, 171, 108);
        }

    }

    .inputText {
        color: #40433f;
        font-size: 20px;
        margin: 10px;

        .inputPlace {
            max-width: 100px;
            height: 20px;
            background-color: aliceblue;
        }
    }


}

.sati {
    display: flex;
    // justify-content: baseline;
    align-items: end;
    padding: 0px;
    border: 4px solid rgb(92, 91, 133);
    border-radius: 10px;
    height: 145px;
    background-color: #fffce9;
    width: 370px;
    margin: auto;

    // vertical-align: baseline;
    .minut {
        background-color: chocolate;
  
        margin: 0px;
        width: 60px;
        color: transparent;

    }
    .title {
        height: 25px;
    }
    .box4 {
        width: 60px;
        height: 140px;
        background-color: #e0f2f1;
    }
    .box6 {
        width: 120px;
        background-color: #fff3dc;
        border: 4px solid rgb(42, 42, 125);
    }



   
}
.casovnik {
    text-align: center;
    font-size: 18px;
    padding: 10px 3px;
    font-weight: bold;
}

.boxBatAll {
    height: 18px;
    padding: 0px 10px;
    border: solid 2px green;
    font-size: 16px;
    border-radius: 7px;
    background-color: rgb(255, 210, 125);
  
    cursor: pointer;

    &:hover {
        background-color: rgb(235, 171, 108);
    }

}
.satovi {
    height: 450px;
    padding-left: 200px;
    padding-bottom: 30px;
    padding-top: 30px;

}

@media screen and (max-width: 500px) {
    .container {
        max-width: 358px;
        min-width: 358px;

        hr {
            width: 355px;
        }

        .colorBox {
            max-width: 325px;
            min-width: 325px;
            border: solid 3px grey;
            border-radius: 8px;


            .box,
            .box1,
            .box2,
            .box3,
            .box4 {
                width: 65px;
            }
            .boxBat {
                border-radius: 5px;
            }
        }
    }
}